@font-face {
  font-family: 'CompassSans-Regular';
  src: url('../../fonts/CompassSans-Regular.eot?#iefix') format('embedded-opentype'),  url('../../fonts/CompassSans-Regular.woff') format('woff'), url('../../fonts/CompassSans-Regular.ttf')  format('truetype'), url('../../fonts/CompassSans-Regular.svg#CompassSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CompassSans-Bold';
  src: url('../../fonts/CompassSans-Bold.eot?#iefix') format('embedded-opentype'),  url('../../fonts/CompassSans-Bold.woff') format('woff'), url('../../fonts/CompassSans-Bold.ttf')  format('truetype'), url('../../fonts/CompassSans-Bold.svg#CompassSans-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CompassSans-Medium';
  src: url('../../fonts/CompassSans-Medium.eot?#iefix') format('embedded-opentype'),  url('../../fonts/CompassSans-Medium.woff') format('woff'), url('../../fonts/CompassSans-Medium.ttf')  format('truetype'), url('../../fonts/CompassSans-Medium.svg#CompassSans-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}