// Fonts
$font-primary       : 'CompassSans-Regular', sans-serif;
$font-bold          : 'CompassSans-Bold', sans-serif;
$font-medium        : 'CompassSans-Medium', sans-serif;

// Colors
$color-white      : #FFFFFF;
$color-black      : #333333;
$color-primary    : #1A1B1D;
$color-active     : #e9e9e9;
$color-bg         : #1a1b1d;
$color-title      : #1A1B1D;
$color-border     : $color-active;

/*
 * Global Bootstrap Overrides
 ***********************************************************************************************************************/
$body-bg              : $color-white;
$body-color           : $color-primary;
$font-family-base     : $font-primary;
$brand-primary        : $color-primary;
$line-height-base     : 1.8;
$font-weight-base     : 400;

/* Nav */
$navbar-padding-y : 0;
$navbar-padding-x : 0;

/* Forms */
$input-box-shadow       : none;
$input-focus-box-shadow : none;
$input-border-color     : #333;
$input-border-radius    : 0;

/* Buttons */
$primary                : $color-primary;
$btn-border-radius      : 0;
$btn-font-weight        : 400;
$btn-padding-y          : rem(15px);
$btn-padding-x          : rem(0);
$btn-focus-box-shadow   : none;
$btn-active-box-shadow  : none;
$btn-focus-width        : 0;
$btn-border-width       : 0;
$active-border          : none;

/* Links */
$link-color           : $color-primary;
$link-hover-color     : none;
$link-decoration      : none;
$link-hover-decoration: none;

/* H1-H6 */
$headings-color       : $color-title;
$headings-font-family : $font-family-base;
$headings-font-weight : 400;
$headings-line-height : 1;
$headings-margin-bottom : rem(20px);
$h5-font-size         : rem(20px);
$h6-font-size         : rem(18px);

/* H1-H6 Responsive */
$h1-font-size : rem(48px);
$h1-responsive-font-sizes: (
    null : rem(36px),
    sm   : rem(38px),
    md   : rem(42px), // 48-6 = 42px
    lg   : $h1-font-size,
    xl   : $h1-font-size
);

$h2-font-size : rem(40px);
$h2-responsive-font-sizes: (
    null : rem(30px),
    sm   : rem(32px),
    md   : rem(34px), // 40-6 = 34px
    lg   : $h2-font-size,
    xl   : $h2-font-size
);

$h3-font-size : rem(36px);
$h3-responsive-font-sizes: (
    null : rem(26px),
    sm   : rem(28px),
    md   : rem(32px), // 36-4 = 32px
    lg   : $h3-font-size,
    xl   : $h3-font-size
);

$h4-font-size : rem(30px);
$h4-responsive-font-sizes: (
    null : rem(22px),
    sm   : rem(24px),
    md   : rem(26px), // 30-4 = 26px
    lg   : $h4-font-size,
    xl   : $h4-font-size
);


/* Container */
$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px
);

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
);


/*
 * Global Slick Overrides
 ***********************************************************************************************************************/
$slick-font-path: "../../fonts/";
$slick-loader-path: "../../img/";
$slick-opacity-default: 1;
$slick-opacity-not-active: 1;


/*
 * Mixins
 ***********************************************************************************************************************/
@mixin custom-placeholder{
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}

@mixin font-variant($ff: $font-family-base, $fw: $font-weight-base, $lh: $line-height-base){
  font-family: $ff;
  font-weight: $fw;
  line-height: $lh;
}

@mixin pseudo($display: block, $pos: absolute, $content: ''){
  content: $content;
  display: $display;
  position: $pos;
}

@mixin responsive-ratio-background($x,$y, $pseudo: false) {
  $padding: unquote(( $y / $x ) * 100 + '%');
  @if $pseudo {
    &:before {
      @include pseudo($pos: relative);
      width: 100%;
      padding-top: $padding;
    }
  } @else {
    padding-top: $padding;
  }
}

@mixin full-cover(){
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

@mixin custom-letter-spacing(){
  $letter-spacing : rem(8px);
  letter-spacing: $letter-spacing / 2;
  @include media-breakpoint-up(lg){
    letter-spacing: $letter-spacing;
  }
}

@mixin responsive-font-size($fs-map, $fs-breakpoints: $grid-breakpoints) {
  @each $fs-breakpoint, $fs-font-size in $fs-map {
    @if $fs-breakpoint == null {
      font-size: $fs-font-size;
    }
    @else {
      // If $fs-font-size is a key that exists in
      // $fs-breakpoints, use the value
      @if map-has-key($fs-breakpoints, $fs-breakpoint) {
        $fs-breakpoint: map-get($fs-breakpoints, $fs-breakpoint);
      }
      @media (min-width: $fs-breakpoint) {
        font-size: $fs-font-size;
      }
    }
  }
}

@mixin pluses($content, $px:0, $py:0) {
  content: $content;
  position: absolute;
  line-height: 1;
  z-index: 1;
  font-size: 40px;
  font-weight: 700;
  color: $color-border;
  background-color: #fff;
  padding: $py $px;
  font-family: 'Times New Roman';
}
@mixin title-line($color:$color-primary) {
  &:before {
    content: '';
    width: 130px;
    height: 2px;
    position: absolute;
    bottom: -22px;
    left: 50%;
    transform: translateX(-50%);
    background-color: $color;
    @include media-breakpoint-up(md){
      width: 180px;
    }
    @include media-breakpoint-up(lg){
      width: 230px;
    }
  }
}
@mixin darken-bg($opacity) {
  &:before {
    @include full-cover();
    content: '';
    background-color: rgba(0, 0, 0, $opacity);
  }
}
